[buildout]
develop = . 
parts = test compat
versions = versions

[compat]
recipe = z3c.recipe.compattest
max_jobs = 3

[test]
recipe = zc.recipe.testrunner
eggs = zope.location

[versions]
ZODB3 = 3.8.1
